*{
    font-family: Montserrat;


}
.BrandName{
    font-family: monteserrat;
    background-image: url("images/hero-cover.3.png");
    background-color: #252B42;
    background-size: 200%;
    background-repeat:no-repeat;
    padding: 30em;
    

}
.BrandName ul {
    flex-direction: row;
    align-items: center;
    font-family: monteserrat;
    font-size: small;
    list-style: none;
    display: flex;
    margin: 30px;
    

}
.BrandName ul li a {
    color: white;
    text-decoration: none;
    margin: 30px;

    

    



}
.BrandName p { 
    text-align: center;
    margin:0em;
    padding: 0em;
    font-size: x-large;
    color: white;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateX(200%) translateY(70%);

}
.BrandName s {
    text-align: center;
    margin:0em;
    padding: 0em;
    font-size: x-large;
    color: white;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateX(200%) translateY(70%);


}